<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Files | <%- name %></title>
        <link rel = "stylesheet" href = "/style.css" />
        <link rel = "icon" type = "image/x-icon" href = "<%- favicon %>" />
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <%- include("components/navbar.html") %> 
        <main id = "folders" style = "display: grid; grid-template-columns: auto auto auto; justify-content: space-evenly;"></main>
        <dialog id = "preview">
            <button class = "close" onclick = "document.getElementById('preview').close()">
                Close
            </button>
            <input id = "file-name" style = "text-align: center; font-size: 25px; width: 100%; height: 33px;" />
            <img id = "preview-icon" width = "50%" height = "50%" style = "display: block; margin-left: auto; margin-right: auto; margin-top: 25px;" />
            <p style = "text-align: center;">
                file in <span id = "type" style = "text-decoration: underline;"></span> format
            </p>
            <div style = "display: flex; align-items: center; justify-content: center; margin-top: 5px;">
                <button id = "file-original" style = "margin-right: 10px;">
                    View Original
                </button>
                <button id = "preview-link" style = "margin-right: 10px;"></button>
                <select id = "preview-folders" style = "margin-right: 10px;">
                </select>
                <button id = "delete-file" class = "danger">
                    Delete
                </button>
            </div>
        </dialog>
        <dialog id = "folder-settings">
            <button class = "close" onclick = "document.getElementById('folder-settings').close()">
                Close
            </button>
            <h2 id = "folder-name"></h2>
            <div style = "display: flex; align-items: center;">
                Color:&nbsp;<input id = "folder-color" type = "color" />
                <button id = "folder-color-reset" style = "margin-left :5px;">Reset to Default</button>
            </div>
            <button id = "delete-folder" class = "danger" style = "margin-top: 30px;">Delete Folder</button>
        </dialog>

        <script>
            const folders = JSON.parse(`<%- folders %>`);

            // loading folders
            if (folders.length === 0) {
                document.querySelector("#folders").style.display = "none";

                const p = document.createElement("p");
                p.style.color = "red";
                p.style.textAlign = "center";
                p.innerText = "No folders found.";
                document.body.appendChild(p);

                document.querySelector("input[type = 'file']").disabled = true;
            } else {
                folders.forEach((folder, i) => {
                    // options for selection in uploading and preview dialogs
                    const folder_element = document.createElement("option");

                    folder_element.value = folder.name.toLowerCase();
                    folder_element.innerText = folder.name;

                    document.querySelector("select#folders").appendChild(folder_element);

                    // folders
                    const div = document.createElement("div");
                    div.id = folder.name.toLowerCase();
                    div.className = "folder";
                    div.style = `margin-right: 10px; border-color: ${folder.color}`;

                    const div2 = document.createElement("div");
                    div2.style = "display: flex; align-items: center; justify-content: center;";

                    const input = document.createElement("input");
                    input.value = folder.name;
                    input.style = "width: 100%; height: 33px; text-align: center; font-size: 25px;";
                    input.addEventListener("change", async () => {
                        await fetch("/api/rename-folder", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({
                                name: folder.name,
                                new_name: input.value
                            })
                        });

                        window.location.reload();
                    });

                    const button = document.createElement("button");
                    button.style = "font-size: 25px; margin-left: 5px; height: 33px; width: 10%;";
                    button.innerHTML = `
                        <svg xmlns = "http://www.w3.org/2000/svg" width = "16" height = "16" viewBox = "0 0 24 24" fill = "none" stroke = "currentColor" stroke-width = "2" stroke-linecap = "round" stroke-linejoin = "round">
                            <path stroke = "none" d = "M0 0h24v24H0z" fill="none" />
                            <path d = "M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" />
                            <path d = "M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                        </svg>
                    `;
                    button.addEventListener("click", () => {
                        document.getElementById("folder-settings").showModal();

                        document.getElementById("folder-name").innerText = folder.name;
                        document.getElementById("folder-color").value = folder.color;
                        document.getElementById("folder-link").href = `/folder/${folder.name}`;
                    });

                    const go_button = document.createElement("button");
                    go_button.style = "font-size: 25px; margin-left: 5px; height: 33px; width: 10%;";
                    go_button.innerHTML = `
                        <svg xmlns = "http://www.w3.org/2000/svg" width = "16" height = "16" viewBox = "0 0 24 24" fill = "none" stroke = "currentColor" stroke-width = "2" stroke-linecap="round" stroke-linejoin = "round">
                            <path stroke = "none" d = "M0 0h24v24H0z" fill = "none" />
                            <path d = "M5 19l2.757 -7.351a1 1 0 0 1 .936 -.649h12.307a1 1 0 0 1 .986 1.164l-.996 5.211a2 2 0 0 1 -1.964 1.625h-14.026a2 2 0 0 1 -2 -2v-11a2 2 0 0 1 2 -2h4l3 3h7a2 2 0 0 1 2 2v2" />
                        </svg>
                    `;
                    go_button.addEventListener("click", () => {
                        window.location.href = `/folder/${folder.name}`;
                    });

                    div2.appendChild(input);
                    div2.appendChild(go_button);
                    div2.appendChild(button);

                    div.appendChild(div2);

                    document.querySelector("main#folders").appendChild(div);
                });
            }

            // loading my files
            const files = JSON.parse(`<%- files %>`);

            files.forEach((file, i) => {
                const div = document.createElement("div");
                div.innerText = `${file.type.split("/")[1]} | ${file.name}`;
                div.className = "file";
                div.addEventListener("click", () => {
                    // options in preview dialog
                    document.getElementById("preview-folders").innerHTML = "";

                    folders.forEach((folder, i) => {
                        const folder_element = document.createElement("option");

                        folder_element.value = folder.name.toLowerCase();
                        folder_element.innerText = folder.name;

                        if (folder.name === file.folder) {
                            folder_element.selected = true;
                        }

                        document.getElementById("preview-folders").appendChild(folder_element);
                    });

                    document.getElementById("preview").showModal();
                    document.getElementById("file-original").addEventListener("click", () => {
                        window.open(`/f/${file.original}`, "_blank");
                    });
                    document.getElementById("file-name").value = file.name;
                    document.getElementById("type").innerText = file.type.split("/")[1];

                    og_file_name = file.name;

                    switch (file.type) {
                        case "application/zip":
                            document.getElementById("preview-icon").src = "/icons/zip.png";
                            break;
                        case "video/mp4": case "video/quicktime":
                            document.getElementById("preview-icon").src = "/icons/video.png";
                            break;
                        case "image/jpeg": case "image/png": case "image/webp": case "image/jpg":
                            document.getElementById("preview-icon").src = "/icons/image.png";
                            break;
                        case "application/pdf":
                            document.getElementById("preview-icon").src = "/icons/pdf.png";
                            break;
                        case "audio/flac": case "audio/mp3": case "audio/m4a":
                            document.getElementById("preview-icon").src = "/icons/audio.png";
                            break;
                        case "image/gif":
                            document.getElementById("preview-icon").src = "/icons/gif.png";
                            break;
                        default:
                            document.getElementById("preview-icon").src = "/icons/file.png";
                            break;
                    }

                    document.getElementById("preview-link").innerHTML = `Go to <b>${file.name}.${file.type.split("/")[1]}</b>`;
                    document.getElementById("preview-link").addEventListener("click", () => {
                        window.location.href = file.path;
                    });
                });
                
                document.getElementById(file.folder).appendChild(div);
            });

            // changing file name
            let og_file_name;

            document.getElementById("file-name").addEventListener("change", async () => {
                await fetch("/api/rename-file", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        name: og_file_name,
                        new_name: document.getElementById("file-name").value
                    })
                });

                window.location.reload();
            })

            // deleting a file
            document.getElementById("delete-file").addEventListener("click", async () => {
                await fetch("/api/delete-file", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        name: document.getElementById("file-name").value,
                    })
                });

                window.location.reload();
            });

            // deleting a folder
            document.getElementById("delete-folder").addEventListener("click", async () => {
                await fetch("/api/delete-folder", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        name: document.getElementById("folder-name").innerText,
                    })
                });

                window.location.reload();
            });

            // moving files
            document.getElementById("preview-folders").addEventListener("change", async () => {
                await fetch("/api/move-file", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        name: document.getElementById("file-name").value,
                        folder: document.getElementById("preview-folders").value
                    })
                });

                window.location.reload();
            });

            // changing folder color
            document.getElementById("folder-color").addEventListener("change", async () => {
                await change_color(document.getElementById("folder-color").value);
            });
            document.getElementById("folder-color-reset").addEventListener("click", async () => {
                await change_color("#c9c8c8");
            });

            async function change_color(color) {
                await fetch("/api/change-folder-color", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        name: document.getElementById("folder-name").innerText,
                        color: color
                    })
                });

                window.location.reload();
            }
        </script>
    </body>
</html>