<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Login | <%- name %></title>
        <link rel = "stylesheet" href = "/style.css" />
        <link rel = "icon" type = "image/x-icon" href = "<%- favicon %>" />
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <img src = "<%- favicon %>" width = "40" height = "40" style = "display: block; margin-left: auto; margin-right: auto; margin-bottom: 20px;" />
        <form id = "login" style = "display: flex; align-items: center; justify-content: center;">
            <input id = "password" type = "password" placeholder = "password" style = "margin-right: 5px;" />
            <button type = "submit">login</button>
        </form>
        <p id = "error" style = "text-align: center; color: red;"></p>
        <footer>
            Selfhost your own MiniBrain instance <a href = "https://github.com/proPianist1124/minibrain" target = "_blank">on Github</a>
        </footer>

        <script>
            document.getElementById("login").addEventListener("submit", async (e) => {
                e.preventDefault();

                let res = await fetch("/api/login", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        password: document.getElementById("password").value
                    })
                })
                res = await res.json();

                if (res.success) {
                    window.location.href = "/";
                } else {
                    document.getElementById("error").innerText = res.error;
                }
            })
        </script>
    </body>
</html>